/* TITULO PORTADA */
.emphasis-title h1.portada, h3.portada {
    background: #ffffff4d;
}

/* GO TO TOP*/
#gotoTop:hover {
    background-color: #b90714;
}

/* TRANSPARENT HEADER */
#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #b90714;
}

#primary-menu > ul > li > a > div {
    color: white;
}

#primary-menu > ul > li > a > div:hover {
    color: #b90714;
}

#header.transparent-header {
    background: #00000054;
}

/* STICKY HEADER */
#header.transparent-header.sticky-header #primary-menu > ul > li > a > div {
    color: #555;
}

#header.transparent-header.sticky-header #primary-menu > ul > li > a > div:HOVER {
    color: #b90714;
}

#header.transparent-header.sticky-header #primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #b90714;
}

/*Cookies*/
#cookie-bar {
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: -webkit-linear-gradient(#e22a2c, #ca010c);
    background: linear-gradient(#e22a2c, #ca010c);
    color: white;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    -webkit-transition: .8s;
    transition: .8s;
    -webkit-animation: slideIn .8s;
    animation: slideIn .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

#cookie-bar .message {
    white-space: nowrap;
    text-shadow: 0 1px 0 #ca010c;
}

@media (max-width: 767px) {
    #cookie-bar .message {
        display: none;
    }
}

#cookie-bar .mobile {
    display: none;
}

@media (max-width: 767px) {
    #cookie-bar .mobile {
        display: inline-block;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#cookie-bar .close-cb {
    border: none;
    color: white;
    background: #993700;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-weight: bold;
}

#cookie-bar .close-cb:hover {
    background: #ca010c;
}

#cookie-bar .checkbox-cb {
    display: none;
}

#cookie-bar .checkbox-cb:checked + .cookie-bar {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}

#cookie-bar a {
    color: #000;
    font-weight: bold;
}

.fright.red-text > a {
    color: #ffffff !important;
}

.contact-form {
    padding-top: 2%;
}

.contact-form button {
    background: #b90714 !important;
}

.contact-form label, .contact-form .card-header h2 {
    color: #ffffff94;
}

.emphasis-title .construccion {
    box-shadow: 30px 30px 0 0 #b90714, 40px 30px 0 0 #b90714, 50px 30px 0 0 #b90714, 60px 30px 0 0 #b90714, 80px 30px 0 0 #b90714, 90px 30px 0 0 #b90714, 100px 30px 0 0 #b90714, 110px 30px 0 0 #b90714, 130px 30px 0 0 #b90714, 140px 30px 0 0 #b90714, 150px 30px 0 0 #b90714, 160px 30px 0 0 #b90714, 180px 30px 0 0 #b90714, 200px 30px 0 0 #b90714, 240px 30px 0 0 #b90714, 260px 30px 0 0 #b90714, 270px 30px 0 0 #b90714, 280px 30px 0 0 #b90714, 290px 30px 0 0 #b90714, 30px 40px 0 0 #b90714, 60px 40px 0 0 #b90714, 110px 40px 0 0 #b90714, 130px 40px 0 0 #b90714, 200px 40px 0 0 #b90714, 210px 40px 0 0 #b90714, 240px 40px 0 0 #b90714, 290px 40px 0 0 #b90714, 30px 50px 0 0 #b90714, 40px 50px 0 0 #b90714, 50px 50px 0 0 #b90714, 60px 50px 0 0 #b90714, 80px 50px 0 0 #b90714, 90px 50px 0 0 #b90714, 110px 50px 0 0 #b90714, 130px 50px 0 0 #b90714, 150px 50px 0 0 #b90714, 160px 50px 0 0 #b90714, 180px 50px 0 0 #b90714, 200px 50px 0 0 #b90714, 220px 50px 0 0 #b90714, 240px 50px 0 0 #b90714, 260px 50px 0 0 #b90714, 270px 50px 0 0 #b90714, 290px 50px 0 0 #b90714, 30px 60px 0 0 #b90714, 80px 60px 0 0 #b90714, 110px 60px 0 0 #b90714, 130px 60px 0 0 #b90714, 160px 60px 0 0 #b90714, 180px 60px 0 0 #b90714, 200px 60px 0 0 #b90714, 230px 60px 0 0 #b90714, 240px 60px 0 0 #b90714, 260px 60px 0 0 #b90714, 290px 60px 0 0 #b90714, 30px 70px 0 0 #b90714, 80px 70px 0 0 #b90714, 90px 70px 0 0 #b90714, 100px 70px 0 0 #b90714, 110px 70px 0 0 #b90714, 130px 70px 0 0 #b90714, 140px 70px 0 0 #b90714, 150px 70px 0 0 #b90714, 160px 70px 0 0 #b90714, 180px 70px 0 0 #b90714, 200px 70px 0 0 #b90714, 240px 70px 0 0 #b90714, 260px 70px 0 0 #b90714, 270px 70px 0 0 #b90714, 280px 70px 0 0 #b90714, 290px 70px 0 0 #b90714, 30px 100px 0 0 #b90714, 40px 100px 0 0 #b90714, 50px 100px 0 0 #b90714, 60px 100px 0 0 #b90714, 80px 100px 0 0 #b90714, 120px 100px 0 0 #b90714, 30px 110px 0 0 #b90714, 80px 110px 0 0 #b90714, 90px 110px 0 0 #b90714, 120px 110px 0 0 #b90714, 30px 120px 0 0 #b90714, 40px 120px 0 0 #b90714, 80px 120px 0 0 #b90714, 100px 120px 0 0 #b90714, 120px 120px 0 0 #b90714, 30px 130px 0 0 #b90714, 80px 130px 0 0 #b90714, 110px 130px 0 0 #b90714, 120px 130px 0 0 #b90714, 30px 140px 0 0 #b90714, 40px 140px 0 0 #b90714, 50px 140px 0 0 #b90714, 60px 140px 0 0 #b90714, 80px 140px 0 0 #b90714, 120px 140px 0 0 #b90714, 30px 160px 0 0 #b90714, 40px 160px 0 0 #b90714, 50px 160px 0 0 #b90714, 60px 160px 0 0 #b90714, 80px 160px 0 0 #b90714, 90px 160px 0 0 #b90714, 100px 160px 0 0 #b90714, 120px 160px 0 0 #b90714, 160px 160px 0 0 #b90714, 180px 160px 0 0 #b90714, 190px 160px 0 0 #b90714, 200px 160px 0 0 #b90714, 220px 160px 0 0 #b90714, 230px 160px 0 0 #b90714, 240px 160px 0 0 #b90714, 250px 160px 0 0 #b90714, 260px 160px 0 0 #b90714, 280px 160px 0 0 #b90714, 290px 160px 0 0 #b90714, 300px 160px 0 0 #b90714, 310px 160px 0 0 #b90714, 330px 160px 0 0 #b90714, 350px 160px 0 0 #b90714, 370px 160px 0 0 #b90714, 380px 160px 0 0 #b90714, 390px 160px 0 0 #b90714, 400px 160px 0 0 #b90714, 420px 160px 0 0 #b90714, 430px 160px 0 0 #b90714, 440px 160px 0 0 #b90714, 450px 160px 0 0 #b90714, 470px 160px 0 0 #b90714, 490px 160px 0 0 #b90714, 500px 160px 0 0 #b90714, 510px 160px 0 0 #b90714, 530px 160px 0 0 #b90714, 570px 160px 0 0 #b90714, 30px 170px 0 0 #b90714, 80px 170px 0 0 #b90714, 100px 170px 0 0 #b90714, 120px 170px 0 0 #b90714, 130px 170px 0 0 #b90714, 160px 170px 0 0 #b90714, 180px 170px 0 0 #b90714, 240px 170px 0 0 #b90714, 280px 170px 0 0 #b90714, 310px 170px 0 0 #b90714, 330px 170px 0 0 #b90714, 350px 170px 0 0 #b90714, 370px 170px 0 0 #b90714, 420px 170px 0 0 #b90714, 490px 170px 0 0 #b90714, 510px 170px 0 0 #b90714, 530px 170px 0 0 #b90714, 540px 170px 0 0 #b90714, 570px 170px 0 0 #b90714, 30px 180px 0 0 #b90714, 80px 180px 0 0 #b90714, 100px 180px 0 0 #b90714, 120px 180px 0 0 #b90714, 140px 180px 0 0 #b90714, 160px 180px 0 0 #b90714, 180px 180px 0 0 #b90714, 190px 180px 0 0 #b90714, 200px 180px 0 0 #b90714, 240px 180px 0 0 #b90714, 280px 180px 0 0 #b90714, 290px 180px 0 0 #b90714, 300px 180px 0 0 #b90714, 310px 180px 0 0 #b90714, 330px 180px 0 0 #b90714, 350px 180px 0 0 #b90714, 370px 180px 0 0 #b90714, 420px 180px 0 0 #b90714, 470px 180px 0 0 #b90714, 490px 180px 0 0 #b90714, 510px 180px 0 0 #b90714, 530px 180px 0 0 #b90714, 550px 180px 0 0 #b90714, 570px 180px 0 0 #b90714, 30px 190px 0 0 #b90714, 80px 190px 0 0 #b90714, 100px 190px 0 0 #b90714, 120px 190px 0 0 #b90714, 150px 190px 0 0 #b90714, 160px 190px 0 0 #b90714, 200px 190px 0 0 #b90714, 240px 190px 0 0 #b90714, 280px 190px 0 0 #b90714, 300px 190px 0 0 #b90714, 330px 190px 0 0 #b90714, 350px 190px 0 0 #b90714, 370px 190px 0 0 #b90714, 420px 190px 0 0 #b90714, 470px 190px 0 0 #b90714, 490px 190px 0 0 #b90714, 510px 190px 0 0 #b90714, 530px 190px 0 0 #b90714, 560px 190px 0 0 #b90714, 570px 190px 0 0 #b90714, 30px 200px 0 0 #b90714, 40px 200px 0 0 #b90714, 50px 200px 0 0 #b90714, 60px 200px 0 0 #b90714, 80px 200px 0 0 #b90714, 90px 200px 0 0 #b90714, 100px 200px 0 0 #b90714, 120px 200px 0 0 #b90714, 160px 200px 0 0 #b90714, 180px 200px 0 0 #b90714, 190px 200px 0 0 #b90714, 200px 200px 0 0 #b90714, 240px 200px 0 0 #b90714, 280px 200px 0 0 #b90714, 310px 200px 0 0 #b90714, 330px 200px 0 0 #b90714, 340px 200px 0 0 #b90714, 350px 200px 0 0 #b90714, 370px 200px 0 0 #b90714, 380px 200px 0 0 #b90714, 390px 200px 0 0 #b90714, 400px 200px 0 0 #b90714, 420px 200px 0 0 #b90714, 430px 200px 0 0 #b90714, 440px 200px 0 0 #b90714, 450px 200px 0 0 #b90714, 470px 200px 0 0 #b90714, 490px 200px 0 0 #b90714, 500px 200px 0 0 #b90714, 510px 200px 0 0 #b90714, 530px 200px 0 0 #b90714, 570px 200px 0 0 #b90714;
    height: 10px;
    width: 10px;
    margin-top: -75%;
}

.construction-photo {
    position: relative;
    height: 100%;
}

.construction-photo:before, .construction-photo:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 16px;
    background: #000000;
    background: repeating-linear-gradient(-45deg, #f9a704, #f9a704 12px, #000000 10px, #000000 23px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom: 0;
}

.construction-photo:before {
    top: 0;
}

.construction-photo:after {
    bottom: 0;
}

#footer.dark {
    margin-top: 0px !important;
}

.socials {
    margin-bottom: 8px;
    margin-top: 8px;
}

.socials > a {
    margin-right: 1em;
}

.socials > a {
    color: #1ABC9C;
}

.socials > a.insta {
    color: #dc2989;
}

.socials > a.twitch {
    color: #9047ff;
}

.socials > a.youtube {
    color: #b90714;
}

a {
    color: #b90714;
}

nav li a div:hover {
    color: #b90714;
}

.counter {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000 !important;
}

.counter > span {
    text-shadow: 2px 0 0 #b90714, -2px 0 0 #b90714, 0 2px 0 #b90714, 0 -2px 0 #fff, 1px 1px #b90714, -1px -1px 0 #b90714, 1px -1px 0 #b90714, -1px 1px 0 #b90714;
}

.traer .container h2,
.participar .container h2,
.info .container h2,
.ubicacion .container h2 {
    margin-top: 2em;
}

.alert {
    border-radius: 0;
}

#content.en-construccion-wrapp {
    margin-bottom: -50px !important;
    background: #bf853f;
}

#content.home-page-wrap {
    margin-bottom: -50px !important;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container {
    min-height: 100%;
    position: relative;
}

.body-container {
    padding-bottom: 250px;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

@media (max-width: 767px) {
    .footer-container {
        height: 300px;
    }

    .body-container {
        padding-bottom: 300px;
    }
}

.footer-flex {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-flex-item {
    width: 230px;
    text-align: center;
}

.copyright-links a {
    color: rgb(181, 181, 181);
}

@media (max-width: 768px) {
    nav#primary-menu > ul > li > a > div {
        color: #000000;
    }
    .galaparty-description{
        background: white;
        padding: 2em;
        font-weight: bold;
    }
    .galaparty-description p{
        font-weight: bold;
    }
}

.logo_asoc{
    width: 280px;
    position: absolute;
    bottom: 16%;
}
.logo_asoc:hover{
    transform: rotate(10deg) scale(1.1);
}

.logo_ayto{
    position: absolute;
    bottom: 10%;
    right: 0;
}
.logo_ayto img{
    width: 280px;
}
.logo_ayto:hover{
    cursor: pointer;
    transform: rotate(10deg) scale(1.1);
}
.checkbox-field .privacy{
    color: rgb(181, 181, 181);
    font-weight: bold;
}

.checkbox-field .sleep{
    color: rgb(181, 181, 181);
    font-weight: bold;
    font-size: 16px;
}
